{% extends 'base.html' %}
{% load static %}
{% load multiply_filter %}
{% load humanize %}
{% block css %}
    <link rel="stylesheet" href={% static 'deps/css/my_css.css' %}>
{% endblock %}
{% block content %}
    <div class="container-fluid mt-5">
        <div class="row">
            <!-- Карточка профиля слева -->
            <div class="col-md-8">
                <div class="bg-white p-4 mb-4 rounded custom-shadow">
                    <h3 class="text-center mb-4">Профиль пользователя</h3>
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <span class="badge bg-dark ms" style="top: 66px; right: 10px;">Баланс: {{ user.balance|intcomma }} руб.</span>
                                </div>
                                <div class="col">
                                    <span class="badge bg-danger ms" style="top: 66px; right: 10px;">Баллы: {{ user.points|intcomma }}</span>
                                </div>
                            </div>
                        </div>
                    <form action="{% url 'users:profile' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row justify-content-center mb-3">
                            <div class="col-auto">
                                <div class="avatar-container">
                                    <img src="{% if user.image %}{{ user.image.url }}{% else %}{% static 'deps/images/default_logo.webp' %}{% endif %}"
                                         alt="Аватар пользователя" class="img-fluid rounded" id="profile-avatar">
                                </div>
                                <div class="mb-3">
                                    <label for="id_image" class="form-label">Загрузить новое фото</label>
                                    <input type="file" class="form-control" id="id_image" name="image">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <!-- Имя и Фамилия -->
                            <div class="col-md-6 mb-3">
                                <label for="id_first_name" class="form-label">Имя*</label>
                                <input type="text" class="form-control" id="id_first_name"
                                       name="first_name" placeholder="Введите ваше имя"
                                       value="{{ form.first_name.value }}" required>
                                {% if form.first_name.errors %}
                                    <div class="alert alert-danger alert-dismissible fade show">
                                        {{ form.first_name.errors }}
                                    </div>
                                {% endif %}
                            </div>

                            <div class="col-md-6 mb-3">
                                <label for="id_last_name" class="form-label">Фамилия*</label>
                                <input type="text" class="form-control" id="id_last_name"
                                       name="last_name" placeholder="Введите вашу фамилию"
                                       value="{{ form.last_name.value }}" required>
                                {% if form.last_name.errors %}
                                    <div class="alert alert-danger alert-dismissible fade show">
                                        {{ form.last_name.errors }}
                                    </div>
                                {% endif %}
                            </div>

                            <!-- Имя пользователя и Email -->
                            <div class="col-md-6 mb-3">
                                <label for="id_username" class="form-label">Имя пользователя*</label>
                                <input type="text" class="form-control" id="id_username"
                                       name="username" value="{{ form.username.value }}" required readonly>
                            </div>

                            <div class="col-md-6 mb-3">
                                <label for="id_email" class="form-label">Email*</label>
                                <input type="email" class="form-control" id="id_email"
                                       name="email" placeholder="youremail@example.com"
                                       value="{{ form.email.value }}" required {% if user.email %}readonly{% endif %}>
                            </div>
                            <!-- Телефон и Роль -->
                            <div class="col-md-6 mb-3">
                                <label for="id_phone" class="form-label">Номер телефона</label>
                                <input type="text" class="form-control" id="id_phone"
                                       name="phone" value="{{ user.phone }}" {% if not user.phone == 'None' %}readonly{% else %}{% endif %}>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="id_role" class="form-label">Роль</label>
                                <div class="d-flex align-items-center">
                                    {% if user.role == 'worker' %}
                                        <img src="{% static 'deps/icons/worker.gif' %}" alt="Worker"
                                             width="24" height="24" class="me-2">
                                        <span>Рабочий</span>
                                    {% elif user.role == 'employer' %}
                                        <img src="{% static 'deps/icons/briefcase.gif' %}" alt="Employer"
                                             width="24" height="24" class="me-2">
                                        <span>Работодатель</span>
                                    {% else %}
                                        <span>Неизвестная роль</span>
                                    {% endif %}
                                </div>
                            </div>
                            {% if user.role == 'worker' %}
                                <div class="col-12 mb-3">
                                    <label for="id_about_me" class="form-label">Обо мне</label>
                                    <textarea class="form-control" id="id_about_me" name="about_me"
                                              rows="4" placeholder="Расскажите немного о себе чтобы работодатели находили вас по поиску...">{{ form.about_me.value }}</textarea>
                                    {% if form.about_me.errors %}
                                        <div class="alert alert-danger alert-dismissible fade show mt-2">
                                            {{ form.about_me.errors }}
                                        </div>
                                    {% endif %}
                                </div>
                            {% endif %}

                            <!-- Навыки -->
                            {% if user.role == 'worker' %}
                                <div class="row skills mb-3">  <!-- Используем row для сетки -->
                                    {% for skill in user.skills.all %}
                                        <div class="col-6 d-flex align-items-center mb-2">  <!-- Каждая колонка занимает 50% -->
                                            <img src="{{ skill.icon.url }}" alt="{{ skill.name }}" style="width: 30px; margin-right: 8px;">
                                            <span>{{ skill.name }}</span>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            {% if user.role == 'worker' %}
                                <!-- Режим "Свободен" -->
                                <div class="col-12 mb-3">
                                    <label for="id_available" class="form-label">Режим "Свободен"</label>
                                    {% if not user.has_active_orders %}
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" id="id_available"
                                                   name="available" {% if user.is_free %}checked{% endif %}>
                                            <label class="form-check-label" for="id_available">Готов к работе</label>
                                        </div>
                                    {% else %}
                                        <div class="alert alert-warning">У вас есть активные заказы. Вы не можете переключить режим "Свободен".</div>
                                    {% endif %}
                                </div>

                                <!-- Кнопка выбора навыков -->
                                <div class="text-end mb-3">
                                    <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#skillsModal">
                                        <i class="bi bi-plus-circle me-2"></i>
                                        Выбрать навыки
                                    </button>
                                </div>
                                <!-- Модальное окно для навыков -->
                                <div class="modal fade" id="skillsModal" tabindex="-1" aria-labelledby="skillsModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="skillsModalLabel">Выберите навыки</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                {% for skill in form.skills.field.queryset %}
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" name="skills"
                                                               value="{{ skill.id }}"
                                                               {% if skill in user.skills.all %}checked{% endif %}
                                                               id="skill_{{ skill.id }}">
                                                        <label class="form-check-label" for="skill_{{ skill.id }}">
                                                            <img src="{{ skill.icon.url }}" alt="{{ skill.name }}"
                                                                 style="width: 24px; height: 24px; margin-right: 8px;">
                                                            {{ skill.name }}
                                                        </label>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        {% if form.errors %}
                            <div class="alert alert-danger alert-dismissible fade show">
                                {{ form.errors }}
                            </div>
                        {% endif %}

                        <button type="submit" class="btn btn-dark w-25">
                            <i class="bi bi-check-circle me-2"></i>Сохранить</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <a class="btn btn-dark w-25 d-flex justify-content-center align-items-center"
        href="{% url 'users:transactions' %}">
        <i class="bi bi-wallet2 me-2"></i> <!-- Иконка кошелька -->
        История транзакций
    </a>
    {% if user.role == 'employer' %}
        <div class="card mt-4">
        <div class="card-header">
            <h3>Ваши заказы (Работодатель)</h3>
        </div>
        <div class="card-body">
            {% if employer_orders %}
                <ul class="list-group">
                    {% for order in employer_orders %}
                        <li class="list-group-item">
                            <strong>Рабочий:</strong> {{ order.worker.username }}<br>
                            <strong>Навык:</strong> {{ order.skill.name }}<br>
                            <strong>Описание:</strong> {{ order.description }}<br>
                            <strong>Цена:</strong> {{ order.amount|intcomma }} руб.<br>
                            <strong>Статус:</strong> {{ order.get_status_display }}<br>
                            {% if order.status == 'pending' %}
                                <p>Статус: Ожидает подтверждения</p>
                            {% elif order.status == 'accepted' %}
                                <p>Статус: Принято рабочим. Напишите ему в чат, или дождитесь звонка.</p>
                            {% elif order.status == 'rejected' %}
                                <p>Статус: Отклонено рабочим</p>
                            {% endif %}
                            {% if order.status == 'accepted' %}
                                <form method="post" action="{% url 'users:order-action' order.id 'complete' %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-info btn-sm">Заказ выполнен</button>
                                </form>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>У вас нет заказов.</p>
            {% endif %}
        </div>
    </div>
    {% else %}
        <div class="card mt-4">
            <div class="card-header">
                <h3>Ваши заказы (Рабочий)</h3>
            </div>
            <div class="card-body">
                {% if worker_orders %}
                    <ul class="list-group">
                        {% for order in worker_orders %}
                            <li class="list-group-item">
                                <strong>Работодатель:</strong> {{ order.client.username }}<br>
                                <strong>Навык:</strong> {{ order.skill.name }}<br>
                                <strong>Описание:</strong> {{ order.description }}<br>
                                <strong>Цена:</strong> {{ order.amount|intcomma }} руб. -
                                <span class="text-danger">1%</span> = <span class="text-success">
                                {{ order.amount|floatformat:2|multiply:"0.99"|intcomma }}0 руб.</span><br>
                                <strong>Статус:</strong> {{ order.get_status_display }}<br>

                                {% if order.status == 'pending' %}
                                    <form method="post" action="{% url 'users:order-action' order.id 'accept' %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-success btn-sm"><i class="bi bi-check-circle me-2"></i>
                                            Принять</button>
                                    </form>
                                    <form method="post" action="{% url 'users:order-action' order.id 'reject' %}" style="display:inline;">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger btn-sm"><i class="bi bi-x-circle me-2"></i>
                                            Отклонить</button>
                                    </form>
                                {% elif order.status == 'accepted' %}
                                    <p>Вы приняли заказ. Вы можете написать работодателю в чате либо позвонить ему по номеру: {{ order.client.phone }}</p>
                                {% elif order.status == 'rejected' %}
                                    <p>Заказ отклонён.</p>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>У вас нет новых заказов.</p>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}

<script src="{% static 'deps/js/select_roles.js' %}"></script>
